## Decision Analysis Project 1
Authors:
* Sebastian Chwilczynski 148248
* Karol Cyganik 148250

### Data set
1. What is the domain of the problem about?

    Ranking of universities on different criteria
2. What is the source of the data? 
   
   [The main source of the data is perspektywy ranking of IT related studies of Polish universities](https://ranking.perspektywy.pl/2022/ranking/ranking-studiow-inzynierskich/informatyka-inz). We selected only these attributes that were relevant to the Decision Maker (gain type). Criteria description can be found [here](https://ranking.perspektywy.pl/2022/article/metodologia-rankingu-kierunkow-studiow-2022r). Additionally we added two cost type criteria: `distance` calculated with google maps and `acceptance threshold` using [this website](https://dostanesie.pl/kierunek/informatyka#perPage=100&page=1&sortBy=%22ThresholdDesc%22). We do not show names of universities but rather we gave them `id` - uppercase letters, so we omit some biases. Location from which we checked the distance was some small village in Poland.
3. What is the point of view of the decision maker?
    
    Our decision maker is a high school graduate - Tom, who wonders which university too chose from. He wants to study Informatics and asked us about advice. His preferences are as follows:
    * He wants to be back at home once a month, so the lesser the distance from his hometown the better. However, it is not the most important attribute to him.
    * Tom wants to become a researcher and he wants to work in an international research team. So it is quite important to him that university he will study at does a lot of research with foreign scientists. For the same reason citations in TOP10 journals are important to him.
    * He doesn't care that much about the ranking given by other professors. Also economics after graduation are not that important to him as he knows exactly what he wants to do and knows expected salary. Moreover economic situation may change since we are in quite unstable situation.
    * Tom wants to study with good students around him to work together on projects.
    * He did quite well on A-levels but after checking thresholds he is not sure if he will be accepted to all universities in Poland. So he prefers universities with smaller thresholds, but weight is very small.
  
4. What is the number of alternatives considered? Were there more of them in the original data set?
   
   We took top 20 universities. In original dataset there were much more.

5. Describe one of the alternatives considered (give its name, evaluations, specify preferences for this
alternative)

    Let it be university `I` which obtained:
    * 22.6 points on evaluation by academic staff. Not that important to DM
    * 84.9 on economic situation of the graduate. Not that important
    * 46.8 score on publications in TOP 10 journals. Not the best score on important one
    * 90.4 obtained on quality of accepted students. Very prefferable one.
    * 66.2 as a result of the research with foreigner scientists. Not bad.
    * 413 distance from hometown. Quite far away actually. Not good
    * 0.785 threshold, where maximum is 1. Tom should get there easily.
6. What is the number of criteria considered? Were there more of them in the original data set?

    We consider 7 criteriaa 5 of which are taken from `perspektywy` ranking, 2 are handmade by use. There are much more criteria in `perspektywy` ranking.
7. What is the origin of the various criteria? (catalog parameter / created by the decision maker - how?)
    
        Already answered at point `2`
        
8. What are the domains of the individual criteria (discrete / continuous)? Note: in the case of continuous
domains, specify the range of the criterion’s variability, in the case of others: list the values. What is
the nature (gain / cost) of the individual criteria?
    * `WSK ocena p. kadre` continuous [0,100] gain type
    * `ekonom. losy absolw.` continuous [0,100] gain type
    * `jak. przyj. na studia` continuous [0,100] gain type
    * `TOP 10` continuous [0,100] gain type
    * `pub. we wspl. zagr.` continuous [0,100] gain type
    * `distance` continuous (integers) [56, 580] cost type
    * `threshold` continuous [0,1] cost type. Different universities has different range of maximum points so it was obtained by dividing theshold by maximum number of points

9. Are all criteria of equal importance (should they have the same ”weights”)? If not, can the relative
importance of the criteria under consideration be expressed in terms of weights? In this case, estimate
the weights of each criterion on a scale of 1 to 10. Are there any criteria among the criteria that are
completely or almost invalid / irrelevant? `No`, every criteria have different weights:
   * `WSK ocena p. kadre` 5
   * `ekonom. losy absolw.` 5
   * `jak. przyj. na studia` 10
   * `TOP 10` 7
   * `pub. we wspl. zagr.` 7
   * `distance` 3
   * `threshold` 1
  
    Every criterion is relevant as we selected them with the help of DM.

10. Are there dominated alternatives among the considered data set? If so, present all of them (dominating
and dominated alternative), giving their names and values on the individual criteria.

    first 5 criteria and threshold are contradicting with one another so there is no dominance relation. Moreover distance is not correlated at all with other values so it also is againts dominance of any alternative

11. What should the theoretically best alternative look like in your       opinion? Is it a small advantage on
many criteria, or rather a strong advantage on few (but key) criteria? Which?

    Best alternative should be very strong in the 3 most important criteria w.r.t weights. Other criteria, probably will decide about the order between the best ones. 

12.  Which of the considered alternatives (provide name and values on individual criteria) seems to be the
best / definitely better than the others? Is it determined by one reason (e.g. definitely the lowest
price) or rather the overall value of the criteria? Does this alternative still have any weaknesses?
    
`M` seems strong with scores:
* `WSK ocena p. kadre` 100
* `ekonom. losy absolw.` 99.2
* `jak. przyj. na studia` 100.0
* `TOP 10` 48.9
* `pub. we wspl. zagr.` 51.0
* `distance` 188
* `threshold` 0.965

It obtained the best score on the most important attribute. It's not the best in Top 10 and pub. we wspl. zagr. but on the first 2 it is again the best. It is the weakest regarding the threshold but it has small importance.

13. Which of the considered alternatives (provide name and values on individual criteria) seems to be the
worst / definitely worse than the others? Is it determined by one reason (e.g. definitely the highest
price), or rather the overall value of the criteria? Does this alternative still have any strengths?

It looks like `U` may be the worst:
* `WSK ocena p. kadre` 1.7
* `ekonom. losy absolw.` 56.1
* `jak. przyj. na studia` 54.8
* `TOP 10` 27.0
* `pub. we wspl. zagr.` 25.5
* `distance` 580
* `threshold` 0.39

It seems to be very bad in first 5 attributes compared with other universities. Moreover it is so far away. However, the threshold of it is not that bad so from the perspective of person who wrote A levels not that well it may be actually a good choice.

### Inferring weights with SRF procedure.

Our decision maker placed criteria like this:

**Z=10**

`jak._przyj._na_studia` <br>
1 card <br>
`TOP_10` `pub._we_wspl._zagr` <br>
3 cards <br>
`ekonom._losy_absolw.` <br>
0 cards <br>
`WSK_ocena_p._kadre` <br>
2 cards <br>
`distance` <br>
0 cards <br>
`progi` <br>

In [264]:
#!pip install -e .
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [265]:
from mcda.utils import get_srf, infer_lambda
import pandas as pd
import numpy as np

Z = 10
ORDERED_CRITERIA = ["progi", "distance", "WSK_ocena_p._kadre", "ekonom._losy_absolw.", 
                    ("TOP_10", "pub._we_wspl._zagr."), "jak._przyj._na_studia"]
BLANK_CARDS = [0,2,0,3,1]

WEIGHTS = get_srf(Z, ORDERED_CRITERIA, BLANK_CARDS)
pd.DataFrame(WEIGHTS.values(), columns = ["weights"], index=WEIGHTS.keys())

                        weights
progi                  0.032738
distance               0.059524
WSK_ocena_p._kadre     0.139881
ekonom._losy_absolw.   0.166667
TOP_10                 0.273810
pub._we_wspl._zagr.    0.273810
jak._przyj._na_studia  0.327381

Let's see the dataset

In [266]:
data = pd.read_csv("universities_final.csv", index_col="id")
data

,WSK_ocena_p._kadre,ekonom._losy_absolw.,jak._przyj._na_studia,TOP_10,pub._we_wspl._zagr.,distance,progi
id,,,,,,,
B,34.0,78.2,78.2,63.8,51.0,309,0.783500
C,0.8,50.8,56.1,44.7,43.7,132,0.700000
D,3.0,64.7,74.1,7.1,53.6,188,0.700000
E,1.7,74.6,63.2,8.5,17.6,188,0.680000
H,6.5,51.3,61.6,55.3,29.4,375,0.330000
I,22.6,84.9,90.4,46.8,66.2,413,0.785000
J,4.8,72.4,73.6,52.5,58.2,166,0.780000
K,0.7,53.8,55.5,44.7,63.5,373,0.600000
L,7.8,42.3,46.7,100.0,77.2,56,0.625000
M,100.0,99.2,100.0,48.9,51.0,188,0.965000
N,54.0,79.6,79.8,51.8,49.0,181,0.857143
P,1.2,84.4,72.8,64.5,46.6,98,0.700000
Q,16.6,63.7,69.9,42.6,39.8,147,0.650000
R,0.0,72.3,51.8,39.7,66.2,299,0.350000
T,4.1,47.3,63.1,17.0,100.0,355,0.825000
U,1.7,56.1,54.8,27.0,25.5,580,0.390000
V,1.0,42.3,50.9,59.6,67.3,512,0.575000
W,0.3,57.1,65.8,39.0,35.4,400,0.640000
Y,74.5,100.0,89.4,62.4,49.2,166,0.972000
Z,33.1,74.5,59.9,59.6,47.7,188,0.400000

## ELECTRE TRI-B

In [267]:
get_df = lambda ar: pd.DataFrame(ar, columns = data.columns, index= ["B1", "B2", "B3"])

In [268]:
attributes_types = ["gain"] * 5 + ["cost"] * 2
pd.DataFrame(np.array([attributes_types]), columns=data.columns)

,WSK_ocena_p._kadre,ekonom._losy_absolw.,jak._przyj._na_studia,TOP_10,pub._we_wspl._zagr.,distance,progi
0,gain,gain,gain,gain,gain,cost,cost

First profiles and threshold values were somehow inferred based on inspection of column values. It was done rather intuitivelly.

In [282]:
profiles = np.array(
    [
        [5, 60, 60, 30, 30, 400, 1],
        [30, 80, 80, 50, 60, 250, 0.8],
        [60,90,90,60, 70,150,0.7]
    ]
)

get_df(profiles)

,WSK_ocena_p._kadre,ekonom._losy_absolw.,jak._przyj._na_studia,TOP_10,pub._we_wspl._zagr.,distance,progi
B1,5.0,60.0,60.0,30.0,30.0,400.0,1.0
B2,30.0,80.0,80.0,50.0,60.0,250.0,0.8
B3,60.0,90.0,90.0,60.0,70.0,150.0,0.7

In [270]:
thresholds = {
    "q": np.array(
        [
            [2, 5, 5, 5, 5, 20, 0.1],
            [10, 5, 4, 4, 4, 20, 0.1],
            [10, 3, 2, 3, 3, 30, 0.05]
        ]),
    "p": np.array(
        [
            [6, 10, 7, 8, 6, 30, 0.15],
            [13, 8, 5, 7, 7, 30, 0.15],
            [11, 4, 3, 4, 5, 40, 0.1],
        ]),
    "v": np.array([
        [np.nan, 5, 5, 10, 10, np.nan, np.nan],
        [np.nan, 10, 14,10, 10, np.nan, np.nan],
        [np.nan, 10, 10, 10, 10, np.nan, np.nan]
    ])
}

In [271]:
print("INDIFFERENCE THRESHOLDS")
get_df(thresholds['q'])

INDIFFERENCE THRESHOLDS

,WSK_ocena_p._kadre,ekonom._losy_absolw.,jak._przyj._na_studia,TOP_10,pub._we_wspl._zagr.,distance,progi
B1,2.0,5.0,5.0,5.0,5.0,20.0,0.10
B2,10.0,5.0,4.0,4.0,4.0,20.0,0.10
B3,10.0,3.0,2.0,3.0,3.0,30.0,0.05

In [272]:
print("PREFERENCE THRESHOLDS")
get_df(thresholds['p'])

PREFERENCE THRESHOLDS

,WSK_ocena_p._kadre,ekonom._losy_absolw.,jak._przyj._na_studia,TOP_10,pub._we_wspl._zagr.,distance,progi
B1,6.0,10.0,7.0,8.0,6.0,30.0,0.15
B2,13.0,8.0,5.0,7.0,7.0,30.0,0.15
B3,11.0,4.0,3.0,4.0,5.0,40.0,0.10

In [273]:
print("VETO THRESHOLDS")
get_df(thresholds['v'])

VETO THRESHOLDS

,WSK_ocena_p._kadre,ekonom._losy_absolw.,jak._przyj._na_studia,TOP_10,pub._we_wspl._zagr.,distance,progi
B1,NaN,5.0,5.0,10.0,10.0,NaN,NaN
B2,NaN,10.0,14.0,10.0,10.0,NaN,NaN
B3,NaN,10.0,10.0,10.0,10.0,NaN,NaN

We select credibility threshold automatically with heuristic given on the lecture

In [274]:
WEIGHTS_ARR = np.array([WEIGHTS[name] for name in data.columns])
CRED_TH = infer_lambda(WEIGHTS_ARR, [[2, 3], [1,2], [3,4]])
CRED_TH

0.49404761904761907

In [275]:
from mcda.electretrib import ElectreTriB
solver = ElectreTriB()

PREFERENCE_TYPES = np.array([1 if x=="gain" else -1 for x in attributes_types])

In [276]:
def get_results(data, thresholds, profiles):
    pessimistic = solver.solve(data.to_numpy(), PREFERENCE_TYPES,
                   thresholds, profiles, WEIGHTS_ARR, CRED_TH, "pessimistic")

    optimistic = solver.solve(data.to_numpy(), PREFERENCE_TYPES,
                   thresholds, profiles, WEIGHTS_ARR, CRED_TH, "optimistic")
    data_with_assign = data.copy()
    data_with_assign["pessimistic"] = pessimistic
    data_with_assign["optimistic"] = optimistic

    return data_with_assign.sort_values("pessimistic")

A priori we gave assignments as such:
* Class 1 -> D
* Class 2 -> U
* Class 3 -> B
* Class 4 -> I

In [277]:
get_results(data, thresholds, profiles)

,WSK_ocena_p._kadre,ekonom._losy_absolw.,jak._przyj._na_studia,TOP_10,pub._we_wspl._zagr.,distance,progi,pessimistic,optimistic
id,,,,,,,,,
C,0.8,50.8,56.1,44.7,43.7,132,0.700000,1,2
D,3.0,64.7,74.1,7.1,53.6,188,0.700000,1,2
E,1.7,74.6,63.2,8.5,17.6,188,0.680000,1,2
H,6.5,51.3,61.6,55.3,29.4,375,0.330000,1,2
V,1.0,42.3,50.9,59.6,67.3,512,0.575000,1,3
K,0.7,53.8,55.5,44.7,63.5,373,0.600000,1,2
L,7.8,42.3,46.7,100.0,77.2,56,0.625000,1,4
R,0.0,72.3,51.8,39.7,66.2,299,0.350000,1,2
T,4.1,47.3,63.1,17.0,100.0,355,0.825000,1,4
U,1.7,56.1,54.8,27.0,25.5,580,0.390000,1,1
Z,33.1,74.5,59.9,59.6,47.7,188,0.400000,2,3
W,0.3,57.1,65.8,39.0,35.4,400,0.640000,2,2
Y,74.5,100.0,89.4,62.4,49.2,166,0.972000,2,4
N,54.0,79.6,79.8,51.8,49.0,181,0.857143,2,2
P,1.2,84.4,72.8,64.5,46.6,98,0.700000,2,3
Q,16.6,63.7,69.9,42.6,39.8,147,0.650000,2,2
B,34.0,78.2,78.2,63.8,51.0,309,0.783500,3,3
I,22.6,84.9,90.4,46.8,66.2,413,0.785000,3,3
J,4.8,72.4,73.6,52.5,58.2,166,0.780000,3,3
M,100.0,99.2,100.0,48.9,51.0,188,0.965000,3,4

Our DM is quite happy with the classification. However, he thinks that the profiles are too hard to beat and too many alternatives are in 1st class from the pessimistic perspective. He wants to change parameters slightly to make profiles weaker. Moreover it doesn't comply with a priori assignments

He decreases values of profile for:
* 1st attribute - WSK_ocena_p._kadre from [5,30,60] to [3,20,30] and 2nd attribute - ekonom losy absolwenta [60,80,90] to [55,65,80]. These attributes are not that important for decision maker so we probably can make them little bit smaller.
* Decrease attributes for `wspolprace zagraniczne for profile 2 and 3 [60,70] -> [50,65] as it was too strict
* decreased values for attribute [1,2,3] for the last profile by 5 [90,90,60] -> [85,85,55]
* Increased indifference and preference thresholds of attributes [1,2,3,4] by 3 and veto as veto by 10 as it was too small

In [278]:
profiles[:,0] = [3,20,50]
profiles[:,1] = [55,65,80]
profiles[[1,2],4] = [50,65]
profiles[-1, [2,3]] -= 5
thresholds['q'][:, [1,2,3,4]] +=3
thresholds['p'][:, [1,2,3,4]] +=3
thresholds['v'][:, [1,2,3,4]] +=10

In [279]:
get_results(data, thresholds, profiles)

,WSK_ocena_p._kadre,ekonom._losy_absolw.,jak._przyj._na_studia,TOP_10,pub._we_wspl._zagr.,distance,progi,pessimistic,optimistic
id,,,,,,,,,
D,3.0,64.7,74.1,7.1,53.6,188,0.700000,1,2
E,1.7,74.6,63.2,8.5,17.6,188,0.680000,1,2
C,0.8,50.8,56.1,44.7,43.7,132,0.700000,2,2
H,6.5,51.3,61.6,55.3,29.4,375,0.330000,2,2
W,0.3,57.1,65.8,39.0,35.4,400,0.640000,2,2
V,1.0,42.3,50.9,59.6,67.3,512,0.575000,2,3
K,0.7,53.8,55.5,44.7,63.5,373,0.600000,2,2
L,7.8,42.3,46.7,100.0,77.2,56,0.625000,2,4
U,1.7,56.1,54.8,27.0,25.5,580,0.390000,2,2
T,4.1,47.3,63.1,17.0,100.0,355,0.825000,2,4
R,0.0,72.3,51.8,39.7,66.2,299,0.350000,2,2
B,34.0,78.2,78.2,63.8,51.0,309,0.783500,3,3
Z,33.1,74.5,59.9,59.6,47.7,188,0.400000,3,3
P,1.2,84.4,72.8,64.5,46.6,98,0.700000,3,3
J,4.8,72.4,73.6,52.5,58.2,166,0.780000,3,3
Q,16.6,63.7,69.9,42.6,39.8,147,0.650000,3,3
N,54.0,79.6,79.8,51.8,49.0,181,0.857143,4,4
Y,74.5,100.0,89.4,62.4,49.2,166,0.972000,4,4
I,22.6,84.9,90.4,46.8,66.2,413,0.785000,4,4
M,100.0,99.2,100.0,48.9,51.0,188,0.965000,4,4

He likes this ranking much more, he will be interesed in universities from group 3 to 4. 

Let's assume that he found a music band in his hometown se now he wants to come back much more often so distance is very important to him.

In [280]:
Z = 10
ORDERED_CRITERIA = ["progi", "WSK_ocena_p._kadre", "ekonom._losy_absolw.", 
                    ("TOP_10", "pub._we_wspl._zagr."), "jak._przyj._na_studia", "distance"]
BLANK_CARDS = [0,1,0,1,3]

WEIGHTS = get_srf(Z, ORDERED_CRITERIA, BLANK_CARDS)
WEIGHTS_ARR = np.array([WEIGHTS[name] for name in data.columns])
CRED_TH = infer_lambda(WEIGHTS_ARR, [[2, 5], [1,5], [5,4]])
pd.DataFrame(WEIGHTS.values(), columns = ["weights"], index=WEIGHTS.keys())

thresholds['v'][:-1, :] = 100

In [281]:
get_results(data, thresholds, profiles)

,WSK_ocena_p._kadre,ekonom._losy_absolw.,jak._przyj._na_studia,TOP_10,pub._we_wspl._zagr.,distance,progi,pessimistic,optimistic
id,,,,,,,,,
V,1.0,42.3,50.9,59.6,67.3,512,0.575000,1,1
U,1.7,56.1,54.8,27.0,25.5,580,0.390000,1,1
W,0.3,57.1,65.8,39.0,35.4,400,0.640000,2,2
E,1.7,74.6,63.2,8.5,17.6,188,0.680000,2,2
H,6.5,51.3,61.6,55.3,29.4,375,0.330000,2,2
I,22.6,84.9,90.4,46.8,66.2,413,0.785000,2,2
K,0.7,53.8,55.5,44.7,63.5,373,0.600000,2,2
T,4.1,47.3,63.1,17.0,100.0,355,0.825000,2,3
R,0.0,72.3,51.8,39.7,66.2,299,0.350000,2,2
B,34.0,78.2,78.2,63.8,51.0,309,0.783500,3,3
Q,16.6,63.7,69.9,42.6,39.8,147,0.650000,3,3
Z,33.1,74.5,59.9,59.6,47.7,188,0.400000,3,3
L,7.8,42.3,46.7,100.0,77.2,56,0.625000,3,4
D,3.0,64.7,74.1,7.1,53.6,188,0.700000,3,3
C,0.8,50.8,56.1,44.7,43.7,132,0.700000,3,3
P,1.2,84.4,72.8,64.5,46.6,98,0.700000,3,3
N,54.0,79.6,79.8,51.8,49.0,181,0.857143,4,4
Y,74.5,100.0,89.4,62.4,49.2,166,0.972000,4,4
J,4.8,72.4,73.6,52.5,58.2,166,0.780000,4,4
M,100.0,99.2,100.0,48.9,51.0,188,0.965000,4,4

Now this changed the situation a lot. Now universities far away are much less preffered.

`The most challenging part of this was giving rational values to profiles and thresholds`